DATABASE_URL="postgresql://..."

LINE_CHANNEL_ACCESS_TOKEN=""
LINE_TEST_USER_ID=""

GOOGLE_SERVICE_ACCOUNT_EMAIL="service-account@your-project.iam.gserviceaccount.com"
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
